@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size:  3rem;
    font-weight: 300;
    margin: 10px;
}

h2 span {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

/* grids styling */
.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.container > div {
    cursor: pointer;
    min-height: 160px;
    height: auto;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;
}

/* add hovering effect */
.container > div:hover {
    opacity: 0.7;
    transform: scale(0.97);
}

/* make some grid to merge/span */

/* span the first div to use 2 grid space */
.container > div:nth-of-type(1) {
    grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
    grid-column: 3 / 5;
}

.container > div:nth-of-type(9) {
    grid-column: 3 / 5;
}

.container > div:nth-of-type(10) {
    grid-column: 1 / 3;
}

/* give grids different background */
.bg1 {
    background: url('./img/forest.jpg');
}

.bg2 {
    background: url('./img/beach.jpg');
    color: #333;
}